*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(1,64,65);
    background: radial-gradient(circle, rgba(1,64,65,1) 0%, rgba(2,0,36,1) 85%);
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    box-shadow: 0px 2px 14px 6px #00000015 ;
}
.top{
    display: flex;
}
header a{
    text-decoration: none !important;
    color: white !important;
}
.nav{
    top: 0;
    left: 0;
}
*{
    margin: 0;
    padding: 0;
}
.ktiba{
  
    height: 95px;
    width: 130px;
    padding-left: 10px;
}
.links{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 50px;
}
.endheader i {
    color: aliceblue;
    padding: 0 10px;
}
span{
    color: aliceblue;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    padding-right: 50px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: larger;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    height: 85px;
    width: 320px;
    border: 1px solid ;
    background: rgb(253,29,139);
    background: linear-gradient(90deg, rgba(253,29,139,1) 0%, rgba(185,45,162,1) 27%, rgba(131,58,180,1) 54%, rgba(69,223,252,1) 100%);
}
.buttonlouta{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    align-items: center;
}
.ta7tbutton{
    color: aliceblue;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-spacing: 2px;
    width: 200px;
    padding-top: 5px;
}
.ta7tbutton p{
    padding-top: 6px;
}
.endpage{
    display: flex;
    flex-direction: row;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.first h1{
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
}
.first{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    padding-left: 30px;
    
}
.blueendpage{
    color: rgb(6, 154, 190);
}
.first p{
    color: aliceblue;
}
.second{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    padding-left: 30px;
    padding-bottom: 40px;
}
.second h1{
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
}
.second p{
    color: aliceblue;
}
.theend{
    font-size: 50px;
    padding-bottom: 40px;
    padding-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}
.theend p{
    color: aliceblue;
}
.theend span{
    color: rgb(6, 154, 190);
}



.lastt{
    padding-left: 300px;
}
.vid{
    display: flex;
    padding-left: 140px;
}
.groupe{
    display: flex;
    padding: 20px 0;
    width: 100%;
    justify-content: space-around;
}
.carousel {
    display: flex !important;
    justify-self: flex-start !;
    width: 600px;
    height: 500px; 
}
section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.firstp{
    color: aliceblue;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 60px;
    width: 200px;
}
.firstp span{
    color: rgb(6, 154, 190);
}
.doura{
    display: flex !important;
    justify-content: space-around !important;
}
section{
    display: flex !important;
}
.left{
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
    padding: 60px;
    padding-bottom: 30vh;
    position: sticky;
    background-color: transparent;
    box-shadow: 0px 2px 14px 6px #00000015;
    width: 25%;
    z-index: 0;
    color: rgb(255, 255, 255);
}
.r1{
    background-color:rgb(227, 227, 18) ;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2.5px solid white;
    display: inline-block;
    box-shadow: 1px 1px 15px black;
}
.r2{
    background-color:black ;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2.5px solid white;
    display: inline-block;
    box-shadow: 1px 1px 15px black;
}
.r3{
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2.5px solid white;
    display: inline-block;
    box-shadow: 1px 1px 15px black;
}
.r4{
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2.5px solid white;
    display: inline-block;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(0,0,0,1) 20%);
    box-shadow: 1px 1px 15px #00000005;
    
}
.race{
    display: flex !important;
    flex-direction: column !important;

}
.price{
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    gap: 100px !important;
}
.left i{
    background-color: #cccccc;
    border-radius: 25px;
    height: fit-content;
    width: 30px;
    padding: 8px ;
}



.rights{
    display: flex !important;
    justify-content: center !important;
    padding-top: 30px;
    font-size: 10px;
}
@media only screen and (max-width: 600px){
    header{
        flex-direction: column;
    }
    .links {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        gap: 11px;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        padding-right: 58px;
    }
    

}